* {
    margin: 0;
    padding: 0;
}
/* Styles pour les éléments <svg> */
svg {
    width: 100%; /* Largeur à 100% de son conteneur */
    height: auto; /* Hauteur automatique pour conserver le ratio */
    max-width: 1000px; /* Largeur maximale pour éviter que le SVG ne devienne trop grand*/
}
/* Styles pour les éléments <path> */
svg path {
    fill: #00394f;
    stroke: #eee;
    stroke-width: .85;
}
#tooltip {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
    pointer-events: none;
}
.republique-hover {
    fill: #ff0000 ;
}

.monarchie-hover {
    fill: #00ff00 ;
}

.autre-hover {
    fill: #0000ff;
}
